<ion-view title="Contact">
  <ion-content class="has-header">
    <div class="list card">
	  	<div class="item item-text-wrap">
	  		<p>For questions, comments, concerns, or feature requests, email the developer at <a href="#" onclick="window.location.href='mailto:healthi@zachcowell.com'">healthi@zachcowell.com</a>.</p>
	  	</div>
	  	
	</div>
  </ion-content>
</ion-view>
