<ion-view title="More Info">
  <ion-content class="has-header">
    <div class="list card">
	  	<a class="item" href="#/tab/more/faq">FAQ</a>
	  	<a class="item" href="#" onclick="window.open('http://washington.dc.gegov.com/webadmin/dhd_431/web/', '_blank', 'location=yes');">DC Department of Health Website</a>
	  	<a class="item" href="#/tab/more/contact">Contact Us</a>
	</div>
  </ion-content>
</ion-view>
