<ion-view title="DC Inspections">
    <ion-content class="has-header">   

        <div class="list card" style="margin-bottom:30px;">

            <div class="item item-divider">Worst Inspections (Last 30 Days)</div>
            <a ng-repeat="i in arrs.worstRecentInspections" class="item" href="#/tab/restauranthome/{{i.establishment_name}}/{{i.address}}"><strong>{{i.establishment_name | properCase}}</strong>
                    <br/ >{{i.address}}
                    <br>{{i.city_state_zip}}
                    <p>{{i.critical_violations.total}} Critical Violations
                    <br />{{i.noncritical_violations.total}} Noncritical Violations
                    <br />Inspected on {{i.date_of_inspection | date:"M/d"}}</p>
            </a>
            
            <div class="item item-divider">Worst Restaurants (Average)</div>
            <a ng-repeat="i in arrs.worstRestaurantsAvg" class="item" href="#/tab/restauranthome/{{i._id.establishment_name}}/{{i._id.address}}"><strong>{{i._id.establishment_name | properCase}}</strong>
                <br>{{i._id.address}}
                <br>{{i._id.city_state_zip}}
                <p>{{i.average_criticals | roundUp}} Avg. Critical Violations
                <br />{{i.average_noncriticals | roundUp}} Avg. Noncritical Violations
                <br />Last Inspected on {{i.recent_inspection | date:"M/d/yyyy"}}</p>
            </a>
            
            <div class="item item-divider">Recent Pest Sightings</div>
            <a class="item item-text-wrap" href="#/tab/restauranthome/{{x.establishment_name}}/{{x.address}}" ng-repeat="x in arrs.pestHighlights">
                <strong>{{x.establishment_name}}</strong><br>
                {{x.date_of_inspection | date:"MM/dd/yyyy"}}<br>
                <p ng-bind-html="x.observations[0] | pestHighlighter | unsafe"></p>
            </a>

        </div>

    </ion-content>
</ion-view>