<ion-view title="Observations">
	<ion-content class="has-header">
		<div class="list card">			
			<div class="item item-text-wrap">
				<h2>{{establishment}}</h2>
				<h3>{{address}}</h3>
			</div>				
			<div class="item item-divider">Observations</div>
			<div ng-hide="obsArr.length == 0">
				<div class="item item-text-wrap" ng-repeat="x in obsArr">{{x.observation}}</div>
			</div>
			
			<div ng-show="obsArr.length == 0">
				<p>No observations! (That's generally a good thing!)</p>
			</div>
		</div>
		<div class="padding">
		<a href="{{response_url}}" target="_blank" class="button button-assertive" style="margin-bottom:30px;">View Full Report</a></div>
	</ion-content>
</ion-view>