<ion-view title="Report Breakdown">
  <ion-content class="has-header">
	<div class="list card" style="margin-bottom:30px;">
		<div class="item item-text-wrap">
			<h2>{{establishment}}</h2>
			<h3>{{address}}</h3>
			<p>
				Average Critical Violations: {{stats.avgCriticals | roundUp}} <br />
				Average Noncritical Violations: {{stats.avgNoncriticals | roundUp}} <br />
				Average Repeat Critical Violations: {{stats.avgCriticalR | roundUp}} <br />
				Average Repeat Noncritical Violations: {{stats.avgNoncriticalR | roundUp}} <br />
			</p>
		</div>

		<div class="item item-text-wrap">
			<leaflet height="225px" width="100%" center="map.center" defaults="map.defaults" markers="map.markers"></leaflet>
		</div>

		<div ng-show="inspections.length > 1">
			<div class="item item-divider">Violations Over Time</div>
			<div class="item">
				<highchart id="establishmentTimeseries" config="chartConfig" style="height:275px;width:100%;"></highchart>
			</div>
		</div>
		<div class="item item-divider">Inspections</div>
		<a href="#/tab/obs{{tabSuffix}}/{{x._id}}" class="item item-icon-right" ng-repeat="x in inspections | orderBy:'date_of_inspection':true">
			{{x.date_of_inspection | date:"M/dd/yyyy"}}<br />
			<p>
			{{x.critical_violations.total}} critical violations<br />
			{{x.noncritical_violations.total}} noncritical violations<br />
			{{x.critical_violations.r}} repeat criticals<br />
			{{x.noncritical_violations.r}} repeat noncriticals</p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</a>
	</div>
	</ion-content>
</ion-view>