<ion-view title="Search">
  <ion-content class="has-header">  
    <!-- Begin Search Form -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="searchString.text" ng-change="autocomplete()" />
        </label>
        <a href="#/tab/search/{{searchString.text}}" class="button button-small button-assertive">
          Go
        </a>
      </div>
    </div>
    <div ng-show="searchString.text.length > 0" class="list">
      <a href="#/tab/search/{{x}}" class="item" ng-repeat="x in arrs.autocomplete">
          {{x}}
      </a>
    </div>
    <!-- End Search Form -->

    <div ng-show="searchString.text.length == 0" style="margin-bottom:30px;">
      <div ng-hide="restaurants.length > 0" class="padding">
      <p>No results found. Please perform another search.<br /><br />Note: While the health inspections database is extensive, it does not necessarily have inspections for all establishments in Washington DC.</p>

      </div>
      <div ng-show="restaurants.length > 0">
        <div class="list">
          	<a class="item item-icon-right" ng-repeat="x in restaurants" href="#/tab/restaurant/{{x._id.establishment_name}}/{{x._id.address}}" class="list-group-item">
              	<strong>{{x._id.establishment_name}}</strong><br>
        				{{x._id.address}}<br>
        		<div><p>Average Critical Violations: {{x.average_criticals | roundUp}}</p></div>
            <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>