<ion-view title="FAQ">
  <ion-content class="has-header">
    <div class="list card" style="margin-bottom:30px;">
	  	<div class="item item-text-wrap">
	  		<p><strong>Where is the data from?</strong><br />
	  		The data comes from <a href="#" onclick="window.open('http://washington.dc.gegov.com/webadmin/dhd_431/web/', '_blank', 'location=yes');">DC's Health Regulation and Licensing Administration.</a> You can view the full reports of all the inspections on file via their website.
	  		</p>
	  	</div>
  		<div class="item item-text-wrap">
	  		<p><strong>What is a "critical violation"?</strong><br />
	  		Violations, if left uncorrected, are more likely than other violations to directly contribute to food contamination, illness, or environmental health hazard. Examples of critical violations include poor temperature control of food, improper cooking, cooling, refrigeration or reheating temperatures.   Such items must be corrected within a time frame not to exceed 5 calendar days after the inspection.
			</p>
  		</div>
  		<div class="item item-text-wrap">
	  		<p><strong>What is a "noncritical violation"?</strong><br />
	  		These types of violations are generally not directly related to the cause of foodborne illness, but if uncorrected, could impede the operation of the restaurant. The likelihood of foodborne illness in these cases is very low. Noncritical violations, if left uncorrected, could lead to critical violations. Examples of noncritical violations include a lack of facility cleanliness and maintenance or improper cleaning of equipment and utensils.  Such items must be corrected within a time frame not to exceed 45 calendar days after the inspection.
			</p>
  		</div>
  		<div class="item item-text-wrap">
	  		<p><strong>Does this app contain data for the entire DC Metro area, including Northern Virginia and Southern Maryland?</strong><br />
	  		No. This application only displays data that relates to Washington DC establishments ("DC Proper"). There are currently no plans to implement the display of data outside of DC. To make a request, email the developer at <a href="#" onclick="window.location.href='mailto:healthi@zachcowell.com'">healthi@zachcowell.com</a>.
			</p>
  		</div>
  		<div class="item item-text-wrap">
	  		<p><strong>Where can I get more information regarding inspections and violations?</strong><br />
	  		For further information regarding violations and the underlying data, please visit <a href="#" onclick="window.open('http://washington.dc.gegov.com/webadmin/dhd_431/web/', '_blank', 'location=yes');">DC's Department of Health website.</a>
			</p>
  		</div>
	  	<div class="item item-text-wrap">
	  		<p><strong>How can I contact the developer for questions / comments / corrections / requests?</strong><br />
	  		You can email the developer at <a href="#" onclick="window.location.href='mailto:healthi@zachcowell.com'">healthi@zachcowell.com</a>.</p>
  		</div>
	</div>
  </ion-content>
</ion-view>