<ion-view title="Pest Watch">
    <ion-content class="has-header">    
        <ion-infinite-scroll on-infinite="getPestPage()" distance="1%"></ion-infinite-scroll>
        <div class="list" style="margin-bottom:30px;">
            <a class="item item-text-wrap" href="#/tab/restaurantpest/{{x.establishment_name}}/{{x.address}}" ng-repeat="x in pests">
                <strong>{{x.establishment_name}}</strong><br>
                {{x.date_of_inspection | date:"MM/dd/yyyy"}}<br>
                <p ng-bind-html="x.observations[0] | pestHighlighter | unsafe"></p>
            </a>
        </div>
    </ion-content>
</ion-view>