<ion-tabs class="tabs-assertive tabs-icon-top">
  <ion-tab title="Home" icon="icon glyphicons white home" href="#/tab/nearby">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Search" icon="icon glyphicons white search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pest Watch" icon="icon glyphicons white bug" href="#/tab/pestwatch">
    <ion-nav-view name="tab-pestwatch"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon="icon glyphicons white list" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>
</ion-tabs>